# Multi Linear Regression using Correlation on House Price Data

In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('USA_Housing.csv') # To read data from csv file and store in dataset

In [3]:
dataset.head() # To display the first five rows

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [4]:
dataset.info() # To show the complete information about dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
Avg. Area Income                5000 non-null float64
Avg. Area House Age             5000 non-null float64
Avg. Area Number of Rooms       5000 non-null float64
Avg. Area Number of Bedrooms    5000 non-null float64
Area Population                 5000 non-null float64
Price                           5000 non-null float64
Address                         5000 non-null object
dtypes: float64(6), object(1)
memory usage: 273.5+ KB

In [13]:
dataset.columns # To display the headers

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [15]:
dataset.corr() # To display the correlations

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
Avg. Area Income,1.000000,-0.002007,-0.011032,0.019788,-0.016234,0.639734
Avg. Area House Age,-0.002007,1.000000,-0.009428,0.006149,-0.018743,0.452543
Avg. Area Number of Rooms,-0.011032,-0.009428,1.000000,0.462695,0.002040,0.335664
Avg. Area Number of Bedrooms,0.019788,0.006149,0.462695,1.000000,-0.022168,0.171071
Area Population,-0.016234,-0.018743,0.002040,-0.022168,1.000000,0.408556
Price,0.639734,0.452543,0.335664,0.171071,0.408556,1.000000

In [16]:
y=dataset['Price']

In [19]:
X=dataset[['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms','Avg. Area Number of Bedrooms', 'Area Population']]

Now data has been featured selected by using correlation filter method

In [18]:
from sklearn.model_selection import train_test_split

In [36]:
# To train and test the model
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [37]:
from sklearn.linear_model import LinearRegression

In [38]:
model=LinearRegression() # Model Created

In [39]:
model.fit(X_train,y_train) # Model Trained

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [40]:
y_pred=model.predict(X_test) # Model prediction vlaues for testing
y_pred

array([1310035.96931578, 1238811.85458543, 1245265.83079141, ...,
       1024496.94962118, 1548581.80349715, 1032639.16178956])

In [41]:
y_test

1501    1.339096e+06
2586    1.251794e+06
2653    1.340095e+06
1055    1.431508e+06
705     1.042374e+06
106     1.555321e+06
589     1.250882e+06
2468    1.039381e+06
2413    8.324752e+05
1600    1.420648e+06
2464    6.137883e+05
228     1.702406e+06
915     9.135871e+05
794     1.675557e+06
3021    1.279161e+06
3543    9.496844e+05
1073    1.372994e+06
3351    1.148564e+06
1744    8.469394e+05
1084    1.002193e+06
926     1.072254e+06
3049    9.731978e+05
1117    1.538985e+06
642     1.135079e+06
4767    1.618721e+06
501     1.158743e+06
4066    1.268421e+06
333     9.857498e+05
4684    7.093482e+05
486     1.869313e+06
            ...
3362    1.076996e+06
266     1.200765e+06
2366    1.248742e+06
1114    1.569122e+06
63      1.213531e+06
2592    6.909585e+05
2788    9.625317e+05
2757    1.040782e+06
3011    1.279681e+06
3076    1.244563e+06
2998    6.476918e+05
2815    1.757396e+06
2259    9.158185e+05
4958    1.189981e+06
3204    1.292740e+06
1237    8.777793e+05
103     1.302933e+06
2643    1.315829e+06
272     7.963894e+05
508     1.638969e+06
2226    7.018658e+05
4933    8.801328e+05
2441    1.496177e+06
865     1.635092e+06
3326    7.809340e+05
908     1.383967e+06
2114    1.203090e+06
3896    8.592087e+05
1627    1.509423e+06
2873    9.987020e+05
Name: Price, Length: 1650, dtype: float64

In [42]:
model.coef_ # Shows multiple weights

array([2.15898874e+01, 1.66102501e+05, 1.19895936e+05, 1.90107101e+03,
       1.52315025e+01])

In [43]:
model.intercept_ # Shows intercept

-2638142.1104297307